h3 {
            font-size: 2.5rem;
            color: rgb(215, 215, 223);
            margin-bottom: 1rem;
            text-align: left;
            letter-spacing: 5px;
        }
        p {
            font-size: 1rem;
            color: rgb(215, 215, 223);
            margin-bottom: 2rem;
            text-align: left;
        }
    button {
        font-size: 16px;
        font-weight: 800;
        padding: 10px 20px;
        background-color: #b4c0e7; 
        color: #1033a3;  
        border-radius: 10px;
        border-color: #b4c0e7;
        cursor: pointer;

        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;
    }
    button:hover {
        transform: translateY(-10px);
        background-color: #1033a3; 
        border-color: #1033a3;
        color: white;
    }